<p><h1><b>About Us</b></h></p>

<p>Warmed Over is the easiest way to find and buy used, or "Warmed Over," home items.</p>

<p>No longer should you be forced to spend hours skimming Craigslist to find the hidden gem. We want to make the experience of finding used home items frictionless by creating a marketplace.</p>

	<p><li>Step 1: Search for items in your city</li>
	<li>Step 2: Identify items you want</li>
	<li>Step: 3: Collaborate with the seller</li>
	<li>Step 4: Buy and choose delivery option</li></p>

<p>Warmed Over is a <a href="http://HomeHub.Co">HomeHub</a> product. We created Warmed Over because we found the old way of finding used items crappy.</p>
	