<p><h1><b>Founders</b></h></p>

<p><li>David Albert, Co-CEO</li>
	<li>Eli Gill, Co-CEO</li>
	<li>Tim Leung, VP of Product & Technology</li>
	<li>Donald Ho, VP of Development & Operations</li></p>

<p><h1><b>Investors & Advisors</b></h></p>

<p><li>Chris Muhr, SVP EMEA at Groupon</li>
	<li>Josh Silver, Owner of Max Home</li>
	<li>Tobias Tschotsch, COO EMEA at Groupon</li>
	<li>Jeremy Zuker, Founder & CEO at WagJag.com</li>
	<li>Allan Fisch, Co-Founder at HomeSav</li>
	<li>Stacey Cohen, Founder at Interiors by Stacey Cohen</li>
</p>

